@model CreateSeriesEntityViewModel
@{
    ViewData["Title"] = "Create Series Entity";
}

<div class="container" style="background-color: lightblue">
    <h1 style="text-align: center">Create Series</h1>
    <div>
        <form asp-action="CreateEntity">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input id="Name" asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Season" class="control-label"></label>
                <input id="Season" asp-for="Season" class="form-control" />
                <span asp-validation-for="Season" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Episode" class="control-label"></label>
                <input id="Episode" asp-for="Episode" class="form-control" />
                <span asp-validation-for="Episode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trailer" class="control-label"></label>
                <input id="Trailer" asp-for="Trailer" class="form-control" />
                <span asp-validation-for="Trailer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input hidden id="SeriesId" asp-for="SeriesId" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@section scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
