@model SeasonTableViewModel
<div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">Season</th>
                <th scope="col">Link</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var num in Model.Seasons)
            {
                <tr>
                    <th scope="row">@num</th>
                    <td>
                        <a asp-controller="AnimesEntities"
                           asp-action="GetSeason"
                           asp-route-seriesId="@Model.SeriesId"
                           asp-route-season="@num"
                           style="color: aliceblue">Watch Season @num</a>
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>