@model DisplaySearchViewModel
@{
    ViewData["Title"] = "Search Movies";
}


@if (Model == null)
{
    <h2>No results found!!!</h2>
}
else
{
    <h1> Did you mean???</h1>
    <div class="row d-flex justify-content-center">
        <div class="container col-10">
            <div>
                <div class="row ">
                    @foreach (var result in Model.Results)
                    {

                        <div class="col-lg-2 col-md-3 col-sm-6" style="padding: 1px 1px 1px 1px">
                            <a asp-controller="@result.Type" asp-action="Details" asp-route-id="@result.Id">
                                <img src="@result.Poster" class="card-img-top " alt="...">
                                <div class="card-body bg-dark d-flex justify-content-center">
                                    <h5 class="">@result.Name</h5>
                                </div>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}
