@using MoviesApp.Services.DataServices.Contracts
@inject ICategoryService CategoryService
@{

    var categories = CategoryService.AllCategories();
}


<a href="#" class="dropdown-toggle navbar-brand" data-toggle="dropdown">Categories</a>
<ul class="dropdown-menu multi-column columns-3">
    <div class="row">
        <div class="col-sm-6">
            <ul class="multi-column-dropdown">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something </a></li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something </a></li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something </a></li>
            </ul>
        </div>
        <div class="col-sm-6">
            <ul class="multi-column-dropdown">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li class="divider"></li>
                <li><a href="#">One more separated link</a></li>
                <li><a href="#">One more separated link</a></li>
            </ul>
        </div>
    </div>
</ul>


