@model DetailsSeriesEntityViewModel
@{
    ViewData["Title"] = "Movie Details";
}

<section class="py-5 bg-white">
    <div class="container-fluid">
        <!-- Heading -->
        <div class="row">
            <div class="col">
                <div class="mb-5">
                    <h1 class="text-dark text-center text-uppercase font-weight-bold"
                        id="movie-title">
                        @Model.Name
                    </h1>
                    <hr class="hr" />
                </div>
            </div>
        </div>
        <!-- Details -->
        <div class="row align-items-center">
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <div class="d-flex justify-content-center">
                    <img src="@Model.Poster" id="movie-poster" height="370" class="mr-2" />
                    <div class="text-dark">
                        <!-- Rating starts -->
                       
                        <!-- Genre -->
                     
                        <!-- actors -->
                       
                        <!-- Release date -->
                       
                        <!-- Overview -->
                       
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <div class="card p-2 bg-dark">
                    <div class="card-body embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="@Model.Trailer"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Movie -->
<section class="py-5 bg-dark">
    <div class="container">
        <!-- Heading -->
        <div class="row">
            <div class="col">
                <div class="mb-5">
                    <h1 class="text-center text-uppercase font-weight-bold">
                        watch now
                    </h1>
                    <hr class="hr" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <iframe class="w-100"
                            height="570"
                            src="https://www.youtube.com/embed/py1tF_E0uaY"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Actor cast -->
<section class="py-5 bg-white text-dark">
    <div class="container">
        <!-- Heading -->
        <div class="row">
            <div class="col">
                <div class="mb-5">
                    <h1 class="text-center text-uppercase font-weight-bold">
                        actor cast
                    </h1>
                    <hr class="hr" />
                </div>
            </div>
        </div>

        <!-- Actors -->
        <div class="row" id="movie-actors"></div>
    </div>
</section>